$blue: #0068ac;
$blueHover: #69a6ce;

@mixin border-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-shadow {
  -webkit-box-shadow: -3px 0px 32px 0px rgba(119,119,119,1);
  -moz-box-shadow: -3px 0px 32px 0px rgba(119,119,119,1);
  box-shadow: -3px 0px 32px 0px rgba(119,119,119,1);
}

#main-nav * {
  color: white;
  :hover {
    color: #333;
  }
}

#home-link {
  color: white;
  :hover {
    color: #333;
  }
}

.navbar {
  background-color: $blue;
}

#carousel-main {
  max-width: 817px;
  display: inline-block;
}

.contact-us {
  display: inline-block;
  width: 211px;
  > * {
  padding-left: 50px;
  }
}

#announcements {
  margin: 50px;
  .thumbnail {
    border: none;
  }
}


/* iPads (landscape) ----------- */
@media only screen 
and (max-width : 767px) 
 {
 .contact-us {
  display: none;
 }
}

@media only screen and (min-width: 768px) {
  #carousel-main {
    margin-left: 5%;
  }
}

