<div class="carousel-wrapper well row">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'banner.JPG' %>
        <div class="carousel-caption">
          <a href="#" class="btn btn-success pull-right" role="button">Register Now</a>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'banner.JPG' %>
        <div class="carousel-caption">
          <h4>Plant Tours</h4>
        </div>
      </div>
      Apics Gold Rush Chapter
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="contact-us">
    <p class="contact-us">Interested in finding out more about what Apics can do for your career?</p>
    <p><a href="#" class="btn btn-primary" role="button">Contact us</a></p>
    <%= image_tag "gold.png" %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, mollitia! Ipsum aliquam, alias ut officiis voluptatibus ex, iste, esse voluptate blanditiis quasi est necessitatibus dolores, unde asperiores placeat quos vitae.</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, mollitia! Ipsum aliquam, alias ut officiis voluptatibus ex, iste, esse voluptate blanditiis quasi est necessitatibus dolores, unde asperiores placeat quos vitae.</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, mollitia! Ipsum aliquam, alias ut officiis voluptatibus ex, iste, esse voluptate blanditiis quasi est necessitatibus dolores, unde asperiores placeat quos vitae.</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>